{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- img section -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <a href="{% url 'industries' %}">
            <h1 class="display-3 mb-4 animated slideInDown">Industries</h1>
        </a>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Energy & Natural Resources</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 align-items-end mb-4">

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid rounded" src="{% static 'img/oilpics.jpg' %}">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="display-5 mb-4">We Help Our Clients To Grow Their Business</h1>
                <p class="mb-4">
                    Tailored solutions to meet global needs and manage resources in a changing environment
                    Industry players will face a regulatory environment characterised by greater complexity, exposure to
                    greater market risks, and new environmental expectations of consumers. We provide a full range of
                    bespoke services to the energy sector, drawing on the combined skills and expertise of our Energy
                    team who specialize in the following areas:

                    Oil and gas
                    Renewables
                    Mining and exploration
                    Utilities
                    Oil and gas
                    The oil and gas industry is facing challenging times, particularly from the increased
                    internationality of the sector and commodity price volatility. We understand that managing the
                    challenges in the industry will typically include:

                    Managing price risk by hedging contracts;
                    Creation of tax-efficient structures; and
                    Managing industry regulations.
                    We provide comprehensive and integrated services to support our oil and gas clients in achieving
                    their key objectives. With a global presence across five continents, our firm operates as a cohesive
                    unit, ensuring seamless delivery of services to clients regardless of their location.

                   
                  

                    As auditors for diverse mining companies worldwide, we also recognize the significance of human
                    rights issues in the industry. By helping companies formalize their human rights procedures and
                    implementing policies throughout the supply chain, we contribute to fostering a sustainable approach
                    that benefits local communities and stakeholders alike.

                </p>

            </div>
        </div>
        <!-- second section  -->
        <div class="row g-4 align-items-end mb-4">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <p class="mb-4">
                    Our extensive experience spans a wide range of oil and gas clients, from those in the early stages
                    of exploration to those with proven reserves and in the production phase. Additionally, we
                    collaborate with numerous companies involved in downstream activities within the industry.

                    Recognizing the importance of human rights in the oil and gas sector, we understand that fostering
                    positive relationships with local communities is paramount to sustainable operations. Our expertise
                    lies in assisting companies in developing robust human rights procedures and implementing policies
                    throughout their supply chains, with a focus on healthcare, education, and environmental
                    stewardship.

                    With a diverse portfolio of clients in the sector, ranging from niche players to global industry
                    leaders, keystone possesses the necessary experience and proficiency to provide tailored solutions and
                    guidance.


                </p>

            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid rounded" src="{% static 'img/oil1.webp' %}">
            </div>
        </div>
        <!-- third section -->
        <div class="row g-4 align-items-end mb-4">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid rounded" src="{% static 'img/oil2.jpg' %}">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <p class="mb-4">
                    Our team of oil and gas sector specialists is dedicated to providing a comprehensive range of
                    services tailored to meet the specific business needs of our clients. With deep industry knowledge
                    and extensive experience, we are well-equipped to address the challenges and opportunities you
                    encounter.

                    Power Generation and Renewable Energy: keystone' specialized power generation and renewable energy
                    team offers comprehensive services to project developers, investors, and funders globally. With
                    expertise in project finance, corporate finance, tax, accounting, and assurance, we provide tailored
                    solutions to meet the unique needs of clients in these sectors. Our team's deep industry knowledge
                    and global reach enable us to support clients in navigating the complexities of the power generation
                    and renewable energy landscape, driving sustainable energy development worldwide. Our expertise
                    includes:

                    Project finance advisory
                    Buy-side and sell-side M&A advisory
                    Investment support and project and portfolio valuation
                    Transaction support and financial due diligence
                    Bespoke financial modelling
                    Model audit

                </p>

            </div>
            
        </div>
        <!-- fourth section -->
        <div class="row g-4 align-items-end mb-4">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <p class="mb-4">
                    Specialist tax and accounting:
                    Power generation and renewable energy project experience spanning continents: With a global presence
                    in over 95 countries, keystone combines local market knowledge with specialized expertise in the power
                    generation and renewable energy sectors. Our dedicated team supports project sponsors, funds, and
                    banks in infrastructure, power generation, and renewable energy transactions. Leveraging the skills
                    of over 20 project finance advisory, tax, and modeling professionals worldwide, we possess the
                    capacity to efficiently manage complex transactions within stringent timelines.

                    Mining and exploration
                    In the global arena of mining and exploration, corporate Boards and assets are often dispersed
                    across different locations, presenting unique management challenges. keystone understands the key
                    objectives of these companies, which typically revolve around safeguarding assets, producing timely
                    financial information, and optimizing tax efficiency within their corporate structure. To assist our
                    mining and exploration clients in achieving these objectives, we offer an integrated and efficient
                    service that transcends geographical boundaries.

                </p>

            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid rounded" src="{% static 'img/mining.webp' %}">
            </div>
        </div>
        <!-- fifth section -->
        <div class="row g-4 align-items-end mb-4">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid rounded" src="{% static 'img/oil3.jpg' %}">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <p class="mb-4">
                    Utilities:
                    In the face of emerging countries' growth and the evolution of energy sources, the utility industry
                    is confronted with significant challenges, such as navigating regulatory frameworks and resource
                    scarcity. At keystone, our deep understanding and experience in the utility sector allow us to grasp
                    the key management objectives associated with this industry. These typically revolve around:

                    Managing current and emerging energy sources
                    Achieving optimal operational scale across different geographical and activity segments
                    Meeting regulatory requirements and customer expectations, including energy efficiency and tariffs
                    As auditors for a wide range of utility companies, encompassing electricity, gas, water, and sewage,
                    we offer robust assurance and advisory services throughout the entire energy value chain. Leveraging
                    our expertise from extraction to distribution, we provide valuable insights to support our clients.
                    Our integrated cross-border structure enables us to seamlessly serve clients both domestically and
                    internationally, delivering tailored solutions on a global scale. With keystone as your partner, you
                    can confidently navigate the complexities of the utility industry and drive success in a rapidly
                    evolving landscape.

                </p>

            </div>
            
        </div>
    </div>
</div>
<!-- About End -->


<!-- Callback Start -->
<div class="container-fluid callback my-5 pt-5">
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="bg-white border rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                        <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Get In Touch
                        </p>
                        <h1 class="display-5 mb-5">Contact Us</h1>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="mail" placeholder="Your Email">
                                <label for="mail">Your Email</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="mobile" placeholder="Your Mobile">
                                <label for="mobile">Your Mobile</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message"
                                    style="height: 100px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Callback End -->>



{% endblock %}