{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-xxl feature py-5 my-5">
    <div class="container my-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-12">
                <div class="row g-4 align-items-center">
                    <div class="col-md-4">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-credit-card fa-3x text-primary mb-3"></i>
                                    <h4 class="mb-3">Financial service industry</h4>
                                    <p class="mb-3">Building the future of financial services with forward-thinking solutions Asset management The regulatory environment for asset management firms has intensified in recent years with a growing number of new regulations. Among these are the Markets in Financial Instruments Directive (MIFID 2), the Undertakings for Collective Investment in Transferable Securities (UCITS) directives and the Alternative Investment Fund Managers Directive (AIFMD)...</p>
                                    <a class="fw-semi-bold" href="{% url 'financial_service_industry' %}">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                            <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-power-off fa-3x text-primary mb-3"></i>
                                    <h4 class="mb-3">Energy & Natural Resources</h4>
                                    <p class="mb-3">Tailored solutions to meet global needs and manage resources in a changing environment Industry players will face a regulatory environment characterised by greater complexity, exposure to greater market risks, and new environmental expectations of consumers. We provide a full range of bespoke services to the energy sector, drawing on the combined skills and expertise of our Energy team who specialize in the following areas: Oil and gas Renewables Mining and exploration Utilities Oil and gas The oil and gas industry is facing challenging times...</p>
                                    <a class="fw-semi-bold" href="{% url 'energy_natural_resources' %}">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.7s">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-shopping-bag fa-3x text-primary mb-3"></i>
                                    <h4 class="mb-3">Consumer Industry & markets</h4>
                                    <p class="mb-3">Financial statement audits give assurance over information used by investors and the capital markets. Independent, quality financial statement audits Financial statement audits give assurance over information used by investors and the capital markets – a responsibility to the public interest Keystone Management Audit professionals take very seriously, applying powerful D&A routines to create better audit evidence and gain deeper insights, and exploring the role auditors can and should play by engaging stakeholders to better understand their views through Keystone Management’s ‘Value of Audit’ forum...</p>
                                    <a class="fw-semi-bold" href="{% url 'consumer_industrial_market' %}">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                            <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-desktop fa-3x text-primary mb-3"></i>
                                    <h4 class="mb-3">Technology,Media & Telecommunication</h4>
                                    <p class="mb-3">Innovative ideas for fast-growing, digitally connected technology, media and telecoms companies Mazars works with a wide range of clients in specialist areas from data logistics to international publishers to broadband technology providers, companies across the film, media and entertainment sector and telecommunications suppliers. Whatever your size and ambition, whether you are a growing business or a global multi-media company...</p>
                                    <a class="fw-semi-bold" href="{% url 'technology_media_telecommunication' %}"">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.7s">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-ship fa-3x text-primary mb-3"></i>
                                    <h4 class="mb-3">Transport and Logistics</h4>
                                    <p class="mb-3">Financial statement audits give assurance over information used by investors and the capital markets. Independent, quality financial statement audits Financial statement audits give assurance over information used by investors and the capital markets...</p>
                                    <a class="fw-semi-bold" href="{% url 'transport_logistics' %}">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                            <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-home fa-3x text-primary mb-3"></i>
                                    <h4 class="mb-3">Real estate and Construction</h4>
                                    <p class="mb-3">Financial statement audits give assurance over information used by investors and the capital markets. Independent, quality financial statement audits Financial statement audits give assurance over information used by investors and the capital markets – a responsibility to the public interest Keystone Management Audit professionals take very seriously, applying powerful D&A routines</p>
                                    <a class="fw-semi-bold" href="{% url 'real_estate_construction' %}">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row g-4 align-items-center">
                    <div class="col-md-4">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-users fa-3x text-primary mb-3"></i>
                                    <h4 class="mb-3">Public and Social service</h4>
                                    <p class="mb-3">Financial statement audits give assurance over information used by investors and the capital markets. Independent, quality financial statement audits Financial statement audits give assurance over information used by investors and the capital markets – a responsibility to the public interest Keystone Management Audit professionals take very seriously, applying powerful D&A routines</p>
                                    <a class="fw-semi-bold" href="{% url 'public_social_sector' %}">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- <div class="col-md-4 wow fadeIn" data-wow-delay="0.7s">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-users fa-3x text-primary mb-3"></i>
                                    <h4 class="mb-3">Public and Social service</h4>
                                    <p class="mb-3">Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo
                                        justo erat amet</p>
                                    <a class="fw-semi-bold" href="">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                            
                        </div>
                    </div> -->
                 
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}