{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-xxl feature py-5 my-5">
    <div class="container my-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-12">
                <div class="row g-4 align-items-center">
                    <div class="col-md-12">
                        <div class="row g-4 ">
                            <div class="col-md-4 ">
                                <img class="w-100 h-100" src="{% static 'img/carousel-33.jpg' %}" alt="Image" >
                            </div>
                            <div class="col-md-8 wow fadeIn " data-wow-delay="0.3s">
                                <div class="feature-box border rounded p-4">
                                    <h4 class="mb-3">Audit and Assurance</h4>
                                    <p class="mb-3">Financial statement audits give assurance over information used by investors and the capital markets. Independent, quality financial statement audits Financial statement audits give assurance over information used by investors and the capital markets.</p>
                                    <a class="fw-semi-bold" href="{% url 'audit_assurance' %}">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12">
                        <div class="row g-4">
                            <div class="col-md-4 ">
                                <img class="w-100 h-100" src="{% static 'img/carousel-33.jpg' %}" alt="Image" >
                            </div>
                            <div class="col-md-8 wow fadeIn" data-wow-delay="0.3s">
                                <div class="feature-box border rounded p-4">
                                    <h4 class="mb-3">Audit and Assurance</h4>
                                    <p class="mb-3">Financial statement audits give assurance over information used by investors and the capital markets. Independent, quality financial statement audits Financial statement audits give assurance over information used by investors and the capital markets.</p>
                                    <a class="fw-semi-bold" href="{% url 'audit_assurance' %}">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12">
                        <div class="row g-4">
                            <div class="col-md-4 ">
                                <img class="w-100 h-100" src="{% static 'img/carousel-33.jpg' %}" alt="Image" >
                            </div>
                            <div class="col-md-8 wow fadeIn" data-wow-delay="0.3s">
                                <div class="feature-box border rounded p-4">
                                    <h4 class="mb-3">Audit and Assurance</h4>
                                    <p class="mb-3">Financial statement audits give assurance over information used by investors and the capital markets. Independent, quality financial statement audits Financial statement audits give assurance over information used by investors and the capital markets.</p>
                                    <a class="fw-semi-bold" href="{% url 'audit_assurance' %}">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12">
                        <div class="row g-4">
                            <div class="col-md-4 ">
                                <img class="w-100 h-100" src="{% static 'img/carousel-33.jpg' %}" alt="Image" >
                            </div>
                            <div class="col-md-8 wow fadeIn" data-wow-delay="0.3s">
                                <div class="feature-box border rounded p-4">
                                    <h4 class="mb-3">Audit and Assurance</h4>
                                    <p class="mb-3">Financial statement audits give assurance over information used by investors and the capital markets. Independent, quality financial statement audits Financial statement audits give assurance over information used by investors and the capital markets.</p>
                                    <a class="fw-semi-bold" href="{% url 'audit_assurance' %}">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                   
                    
                </div>
            </div>

           
            </div>
        </div>
    </div>
</div>

{% endblock%}