{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- img section -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
      <a href="{% url 'industries' %}"><h1 class="display-3 mb-4 animated slideInDown">Industries</h1></a>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Real Estate,Construction</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 align-items-end mb-4">

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid rounded" src="{% static 'img/real_estate.jpg' %}">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">About Us</p>
                <h1 class="display-5 mb-4">Driving Financial Stability in Real Estate</h1>
                <p class="mb-4">
                    As an accounting firm deeply entrenched in the real estate sector, we understand the intricate financial landscape that defines this dynamic industry. From property development and investment to management and leasing, we recognize the unique challenges and opportunities that real estate businesses encounter.

                    Our dedicated team of professionals offers tailored accounting solutions designed to optimize financial performance, mitigate risks, and drive growth in the real estate market. Whether it's navigating complex tax regulations, conducting property valuations, or providing strategic financial advice, we are committed to delivering unparalleled expertise and support to our clients in the real estate industry.
                    
                    With our industry knowledge and personalized approach, we empower real estate businesses to thrive in competitive markets, achieve their goals, and sustain long-term success. Partner with us and unlock the full potential of your real estate ventures
                </p>
                
            </div>
        </div>
        <!-- second section  -->
        <div class="row g-4 align-items-end mb-4">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <p class="mb-4">In the ever-evolving realm of real estate, financial stability is paramount. As a leading accounting firm specializing in real estate, we offer a depth of insight and expertise tailored to the unique needs of this dynamic industry.

                    From residential and commercial development to property management and investment, we understand the intricate financial intricacies that shape the real estate landscape. Our dedicated team of professionals is committed to providing comprehensive accounting solutions that not only optimize financial performance but also mitigate risks and drive sustainable growth.
                    
                    At our firm, we go beyond traditional accounting services to offer strategic insights and guidance that empower our clients to make informed decisions. Whether it's navigating complex tax structures, conducting in-depth financial analyses, or implementing innovative financial strategies, we are here to support our clients every step of the way.
                    
                    With our industry knowledge, personalized approach, and unwavering commitment to excellence, we serve as trusted advisors to real estate businesses seeking to thrive in today's competitive market. Partner with us to unlock the full potential of your real estate ventures and achieve lasting success.
                </p>
                
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid rounded" src="{% static 'img/telecom1.jpg' %}">
            </div>
        </div>
        <!-- third section -->
        
    </div>
</div>
<!-- About End -->


    <!-- Callback Start -->
    <div class="container-fluid callback my-5 pt-5">
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="bg-white border rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                            <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Get In Touch
                            </p>
                            <h1 class="display-5 mb-5">Contact Us</h1>
                        </div>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="mail" placeholder="Your Email">
                                    <label for="mail">Your Email</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="mobile" placeholder="Your Mobile">
                                    <label for="mobile">Your Mobile</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message"
                                        style="height: 100px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-primary w-100 py-3" type="submit">Submit Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Callback End -->>



{% endblock %}